.gallery-page {
    width: 100vw;
    height: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f8f8f8;
    position: relative;
    z-index: 10;
    padding: 2rem 1rem;
}
.gallery-page h1 {
    font-size: clamp(30px, 2vw, 40px);
    color: #333;
    margin-bottom: 2rem;
    font-family: var(--title-font);
}
.instagram-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 120px);
    grid-template-areas: 
        "img1 img1 img1 img2 img2 img2"
        "img3 img3 img3 img4 img4 img4"
        "img5 img5 img5 img6 img6 img6"
        "img7 img7 img7 img8 img8 img8"
        "img9 img9 img9 img10 img10 img10";
    gap: 10px;
    justify-content: center;
}
.sample-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.instagram-img-0 {
    grid-area: img1;
}
.instagram-img-1 {
    grid-area: img2;
}
.instagram-img-2 {
    grid-area: img3;
}
.instagram-img-3 {
    grid-area: img4;
}
.instagram-img-4 {
    grid-area: img5;
}
.instagram-img-5 {
    grid-area: img6;
}
.instagram-img-6 {
    grid-area: img7;
}
.instagram-img-7 {
    grid-area: img8;
}
.instagram-img-8 {
    grid-area: img9;
}
.instagram-img-9 {
    grid-area: img10;
}

@media (min-width: 992px) {
    .gallery-page {
        padding: 5vw 7vw;
    }
    .instagram-container {
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-template-rows: repeat(7, 120px);
        grid-template-areas: 
            "   img1    img1    img2    img2    img2    img2    img3    img3    img4    img4    "
            "   img1    img1    img2    img2    img2    img2    img3    img3    img4    img4    "
            "   img1    img1    img2    img2    img2    img2    img7    img7    img8    img8    "
            "   img5    img5    img5    img6    img6    img6    img7    img7    img8    img8    "
            "   img5    img5    img5    img6    img6    img6    img9    img9    img8    img8    "
            "   img10    img10    img10    img6    img6    img6    img9    img9    img8    img8    "
            "   img10    img10    img10    img6    img6    img6    img9    img9    img8    img8    "
            ;
    }
}