.gallery-page {
    width: 100vw;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 10;
    padding: 2rem 1rem;
}
.gallery-page h1 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--title-font);
}
.instagram-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.sample-img {
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    height: 200px;
}


@media (min-width: 992px) {
    .gallery-page {
        padding: 5vw 7vw;
    }
    .instagram-container {
        gap: 1vw;
    }
    .sample-img {
        width: 380px;
        height: 400px;
    }
}